In [8]:
import pandas as pd
import requests

In [9]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [10]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [11]:
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,173.309,8.700,27605
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,191.266,8.689,20943
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,83.281,8.570,12634
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,175.351,8.567,16079
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,81.574,8.500,8824
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,95.201,8.500,16757
6,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,33.510,8.500,4453
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,151.801,8.519,33296
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,95.295,8.506,17720
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,119.278,8.500,18564
10,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,109.388,8.488,28225
11,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,73.192,8.485,11541
12,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,161.163,8.483,24548
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,97.065,8.470,27754
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,98.989,8.463,8759
15,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,40.546,8.500,3769
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,68.015,8.458,13055
17,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.055,8.453,5667
18,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,321.485,8.449,36293
19,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,39.753,8.448,4431

In [12]:
df = pd.DataFrame()

In [13]:
df

Empty DataFrame
Columns: []
Index: []

In [21]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    #df = df.concat(temp_df,ignore_index=True)
    df = pd.concat([df,temp_df], ignore_index=True)

In [22]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,173.309,8.700,27605
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,191.266,8.689,20943
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,83.281,8.570,12634
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,175.351,8.567,16079
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,81.574,8.500,8824
...,...,...,...,...,...,...,...
8555,44943,Battle: Los Angeles,When once distant UFOs become a terrifying thr...,2011-03-08,26.815,5.800,3465
8556,10069,Stay Alive,"After the brutal death of a friend, a group of...",2006-03-24,10.802,5.800,755
8557,305932,Expelled,Felix is a legendary prankster who gets expell...,2014-12-12,7.543,5.800,449
8558,82505,House at the End of the Street,A mother and daughter move to a new town and f...,2012-09-21,16.149,5.803,1796
8559,14906,Saludos Amigos,A whimsical blend of live action and animation...,1942-08-24,13.899,5.800,466

In [23]:
df.to_csv('movies.csv')